<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
    <script src="js/vue.js"></script>
</head>

<body>
<div id="app">
    <!-- <input type="text" name="firstName" v-bind:value="firstName" > -->
    <input name="firstName" id="firstName" type="text" v-model="firstName">
    <label for="firstName">名</label>
    <input name="lastName" id="lastName" type="text" v-model="lastName">
    <label for="lastName">姓</label>
    <div>{{name}}</div>
</div>

</body>
<script>
    let data = {
        firstName: 'Foo',
        lastName: 'Bar'
    }
    let vm = new Vue({
        el: '#app',
        data() {
            return data
        },
        computed: {
            name: function () {
                console.log(this.firstName + ' ' + this.lastName);
                return this.firstName + ' ' + this.lastName
            }
        }
    });
</script>

</html>
